.hero {
    height: 800px;
    background-image: url("https://wallpapercave.com/wp/wp12568662.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 66px black;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 4px;
    text-align: center;
}
